---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  canonicalPath?: string;
  noindex?: boolean;
}

const {
  title,
  description,
  canonicalPath = "/",
  noindex = false,
} = Astro.props;
const canonicalUrl = new URL(canonicalPath, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/fc.svg" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={description} />
    {noindex && <meta name="robots" content="noindex" />}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:site_name" content="Froystein Consulting" />
    <meta name="twitter:card" content="summary" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
